<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link href="//fonts.googleapis.com/css&#x3F;family&#x3D;Open&#x2B;Sans&#x3A;400,400italic,600,600italic,700italic,700" media="screen" rel="stylesheet" type="text/css">
  <link href="https://disorientations.org/application/asset/css/iconfonts.css&#x3F;v&#x3D;2.1.2" media="screen" rel="stylesheet" type="text/css">
  <link href="https://disorientations.org/themes/default/asset/css/style.css&#x3F;v&#x3D;1.5.1" media="screen" rel="stylesheet" type="text/css">
  <link href="https://disorientations.org/application/asset/css/page-blocks.css&#x3F;v&#x3D;2.1.2" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}  
</head>
